* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.max-view-height {
  height: 80vh;
}

.flex-direction-column {
  flex-direction: column;
}

#container-tacita > video {
  width: 100%;
}

.display-none {
  display: none;
}

#container-botones-tacita {
  padding: 10px 0;
  width: 70%;
  justify-content: space-between;
}

.boton {
  background-color: salmon;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 32px;
  padding: 6px 18px;
  text-align: center;
  margin: auto;
  font-family: "Kanit", sans-serif;
}

.boton:hover {
  background-color: #111;
}
